package-lock.json
pnpm-lock.yaml
yarn.lock
eslint.config.js

# generated
src/generated/
public/article-thumbs/
public/article-assets/
dist/
.output/
.wrangler/
.vinxi/
worker-configuration.d.ts

# submodule contents
src/content/articles/
