---
import { Image } from "astro:assets";
import Layout from "../components/_layout.astro";
import Icons from "../components/icons.astro";
import my_icon from "../assets/uvu1.jpg";
---

<Layout>
  <div class="flex flex-col justify-center items-center mt-48">
    <Image src={my_icon} alt="me" class="rounded-full w-40 h-40 my-5" quality={"max"} loading={"eager"} />
    <h1 class="text-4xl">uvu</h1>
    <h2 class="text-2xl font-light hidden sm:block">
      A software developer and server-side enginner
    </h2>
    <h2 class="text-2xl font-light block sm:hidden">A software developer</h2>
    <Icons css="flex space-x-3 my-2" />
  </div>
</Layout>
