---

---

<div class="flex mx-auto max-w-6xl items-center justify-between py-6 px-4 pl-6">
  <div class="text-lg font-bold">
    <a href="/">uvu1.me</a>
  </div>

  <nav>
    <div
      class="hidden lg:flex divide-x divide-solid divide-slate-600 items-center"
    >
      <ul class="flex space-x-4 mr-8">
        <li>
          <a
            href="/blog/1"
            class="hover:before:scale-x-100 hover:before:origin-left relative before:w-full before:h-0.5 before:origin-right before:transition-transform before:duration-300 before:scale-x-0 before:bg-slate-600 before:absolute before:left-0 before:bottom-0"
            >Blog</a
          >
        </li>
        <li>
          <a
            href="/projects"
            class="hover:before:scale-x-100 hover:before:origin-left relative before:w-full before:h-0.5 before:origin-right before:transition-transform before:duration-300 before:scale-x-0 before:bg-slate-600 before:absolute before:left-0 before:bottom-0"
            >Projects</a
          >
        </li>
      </ul>
    </div>
    <div class="drawer drawer-end">
      <input id="sidebar" type="checkbox" class="drawer-toggle" />
      <div class="lg:hidden text-end">
        <label
          for="sidebar"
          aria-label="open sidebar"
          class="btn btn-square btn-ghost"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            class="inline-block h-6 w-6 stroke-current"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"></path>
          </svg>
        </label>
      </div>
      <div class="drawer-side z-50">
        <label for="sidebar" aria-label="close sidebar" class="drawer-overlay"
        ></label>
        <ul class="menu bg-base-200 min-h-full w-80 p-4">
          <li>
            <a href="/blog/1">Blog</a>
          </li>
          <li>
            <a href="/projects">Projects</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
