---
import Icons from "./icons.astro";
---

<div class="rounded-xl">
  <img class="rounded-full w-40 h-40 my-5" src="/uvu1.jpg" />
  <ul>
    <li><a>Home</a></li>
    <li><a>About</a></li>
    <li><a>Blog</a></li>
    <li><a>Projects</a></li>
  </ul>
  <div>
    <Icons css="flex space-x-3 my-2" />
  </div>
</div>
